<h1>¡Creá tu usuario!</h1>

<div>
    <form action="http://localhost:8080/register" method="post">
        <input type="text" name="first_name" placeholder="Nombre"/>
        <input type="text" name="last_name" placeholder="Apellido"/>
        <input type="email" name="email" placeholder="Email"/>
        <input type="number" name="age" placeholder="Edad"/>
        <input type="password" name="password" placeholder="Contraseña"/>
        <button type="submit">Registrarse</button>
    </form>
</div>
<br/>
<div>
    <a href="http://localhost:8080/login">
        <button>Iniciar sesion</button>
    </a>
</div>