<h1>Iniciar sesión</h1>

<div>
    <form action="http://localhost:8080/login" method="post">
        <input type="email" name="email" placeholder="Email"/>
        <input type="password" name="password" placeholder="Password"/>
        <button type="submit">Iniciar sesión</button>
    </form>
</div>
<div>
    <a href="/github"><button>Entrar con Github</button></a>
</div>
<br/>